---
http_interactions:
- request:
    method: get
    uri: https://api.deezer.com/search?q=artist:%22eminem%22track:%22lose%20yourself%22%26limit=1%26order=RANKING
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Host:
      - blm-web-148
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":1109731,"readable":true,"title":"Lose Yourself (From
        \"8 Mile\" Soundtrack)","title_short":"Lose Yourself","title_version":"(From
        \"8 Mile\" Soundtrack)","link":"https:\/\/www.deezer.com\/track\/1109731","duration":326,"rank":985755,"explicit_lyrics":true,"explicit_content_lyrics":1,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-1.dzcdn.net\/stream\/c-13039fed16a173733f227b0bec631034-10.mp3","artist":{"id":13,"name":"Eminem","link":"https:\/\/www.deezer.com\/artist\/13","picture":"https:\/\/api.deezer.com\/artist\/13\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/0707267475580b1b82f4da20a1b295c6\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/0707267475580b1b82f4da20a1b295c6\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/0707267475580b1b82f4da20a1b295c6\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/0707267475580b1b82f4da20a1b295c6\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/13\/top?limit=50","type":"artist"},"album":{"id":119606,"title":"Curtain
        Call: The Hits","cover":"https:\/\/api.deezer.com\/album\/119606\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e2b36a9fda865cb2e9ed1476b6291a7d\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e2b36a9fda865cb2e9ed1476b6291a7d\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e2b36a9fda865cb2e9ed1476b6291a7d\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e2b36a9fda865cb2e9ed1476b6291a7d\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/119606\/tracks","type":"album"},"type":"track"},{"id":916555,"readable":true,"title":"Lose
        Yourself","title_short":"Lose Yourself","title_version":"","link":"https:\/\/www.deezer.com\/track\/916555","duration":320,"rank":763727,"explicit_lyrics":true,"explicit_content_lyrics":1,"explicit_content_cover":2,"preview":"https:\/\/cdns-[...]
